{{ define "main" }}
  <h1><span id="title">{{ .Title | markdownify }}</span></h1>
  <div class="article-meta">
    {{ with .Params.author }}
      <span>{{ . }}</span>
    {{ end }}
    {{ if (gt .Params.date 0) }}
      <span>{{ .Date.Format "2006/01/02" }}</span>
    {{ end }}
    {{ with .Params.categories }}
      <span>
        カテゴリ:
        {{ range . }}
          <a href="/categories/{{ . }}">{{ . }}</a>
        {{ end }}
      </span>
    {{ end }}
    {{ with .Params.tags }}
      <span>
        タグ:
        {{ range . }}
          <a href="/tags/{{ . }}">{{ . }}</a>
        {{ end }}
      </span>
    {{ end }}
  </div>

  {{ if .TableOfContents }}
    <h2>目次</h2>
    {{ .TableOfContents }}
    <hr>
  {{ end }}

  {{ .Content }}

  {{ if .Site.Params.hatenaStar }}
    <div id="hatena-star-foot-marker" class="hatena-star-marker"></div>
  {{ end }}

  {{ if .Site.Params.hatenaBookmark }}
    <div id="hatena-bookmark-marker"></div>
  {{ end }}

  <p>
    Permalink: <a id="permalink" href="{{ .Permalink }}">{{ .Permalink }}</a></span>
  </p>
{{ end }}
