#hatena-star-foot-marker {
  .hatena-star-star-container > a {
    margin-left: 4px;
    text-decoration: none;
  }

  .hatena-star-add-button {
    margin: 0 !important;
  }

  .hatena-big-star-star-container {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    border-radius: 2px;
    overflow: hidden;
  }

  .hatena-star-user {
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: 10;
    border-radius: 3px;
  }

  .hatena-star-star-refined {
    position: absolute;
    z-index: 11;
    top: 10px;
    background-color: rgba(255, 255, 255, 0.6);
  }
}
